@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Events.cshtml";
}


@using (Html.BeginForm())
{<body>
    <div id="body">
     <div class="row-fluid">
            <div class="span11 offset1">
                <img src="../../Images/Goal1.png" />
            </div>
                  <div class="row-fluid">
                      <div class="span5">
                          <h2>Mission</h2>
                          <p>A Rise for Water foundation promotes rural African community development by providing sustainable water sources and reducing health risks associated with contaminated water.</p>
                      </div>
                      <div class="span5 offset2">
                          <h2>Values</h2>
                          <p>A Rise for Water foundation believes in honoring indigenous African cultures and their way of life. We work cooperatively with local leadership to empower them towards sustaining the development of their community.</p>
                      </div>
                  </div>
        </div>
</div>
    </body>
}