@model Events.Models.CalendarModel
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Events.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#lnkCalendar").addClass('active');
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        $('#calendar').fullCalendar({
            events: '@Url.Action( "GetEvents","Events")',
            loading: function (bool) {
                if (bool)
                {
                    $('#loading').show();
                }
                else
                {
                    $('#loading').hide();
                }
            }
        });
    });

</script>

@using (Html.BeginForm())
{
    <body>
        <img id ="loading" style="display:none" src='@Url.Content("~/images/loading.gif")' alt="Searching" />
    <div id="body">
        <div id="calendar"></div>
        </div>
    </body>
}