@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_Events.cshtml";
}
@using (Html.BeginForm())
{
    <body>
    <div id="body">
        <div class="row-fluid">
            <div class="span3">
                <h3>Donate</h3>
            </div>
            <div class="span5">
                <div class="input-group well-no-bkgrnd">
                    <h5>Mail a Check To:</h5>
                    <p style="font-style: italic">A Rise For Water Foundation</p>
                    <p>University of North Texas</p>
                    <p>1155 Union Circle #311277</p>
                    <p>Denton, Texas 76203-5017</p>
                    <p>Phone: (940) 565-2000</p>
                    <p>Fax: (940) 565-3688</p>
                    <br />
                    <h5>Use Paypal</h5>
                    <button id="btnSubmit">Donate</button>
                </div>
            </div>
        </div>
    </div>          
    </body>
}