@model Events.Models.LoginModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Events.cshtml";
}

<script>
    $(document).ready(function () {
        var successText = $('#successtext').text();
        if (successText != "") {
            $('#divsuccess').show();
            $('#divverification').hide();
        }
        else {
            $('#divsuccess').hide();
        }

        //$('#AccountName, #AccountNumber').attr("readonly", true);
        //$('#AccountName').attr('autocomplete', 'off');
    });
</script>

@using (Html.BeginForm())
{<body>
    <div id="body">
        <div class="row-fluid">
                <div class="span3">
                    <h3>Forgot Password</h3>
                </div>
                <div class="span5">
                    <br />
                    <div class="input-group well-no-bkgrnd">
                        <div id="divsuccess" style="display:none" class="alert alert-success">
                <h5 id= "successtext" >@ViewBag.Success</h5>
		</div>
                        <h5>Forgot Your Password</h5>
                        <p>Please provide us the Username which is the Email and the password will be sent to your email</p>
                       <label class="control-label" for="txtUserName">UserName @Html.ValidationMessageFor(model => model.UserName)</label>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "input-xlarge", placeholder = "Enter your Username", @maxlength = "60", @autocomplete = "off" }) <br />
                        <button name="button" class="gbqfb" Value="Send">Send</button>
                         <button name="button" class="gbqfb" Value="Cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
}