@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Events.cshtml";
}

@using (Html.BeginForm())
{<body>
    <div id="body">
        <div class="row-fluid">
            <div class="span6">
                <h5>New Sand Dam and Well Projects in Kenya</h5>
                <p>Global Water’s projects have an immediate life-changing impact, particularly on women and children, who most often have the responsibility of collecting water for the family each day of their lives. Successful Global Water projects utilize water and sanitation as a tool to create sustainable socioeconomic development in these poor rural communities.</p>
            </div>
            <div class="span6">
                <img src="../../Images/Project1.png" />
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <img src="../../Images/Project2.png" />
            </div>
            <div class="span6">
                <h5>Well Drilling – Africa</h5>
                <p>Well drilling projects often involve contracting with local well drilling companies and hiring them to drill and develop wells and install pumps. Deep wells (over 200 feet) are often the most expensive water supply infrastructure projects undertaken by Global Water (or any water-oriented organization). As much as possible, we try to connect with an NGO that owns a well drilling rig since they are often more economical than a for-profit company.</p>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <h5>Filtration/Disinfection – Technology Push Program</h5>
                <p>Global Water provides support in the form of water treatment equipment and technical consulting for its projects. This usually takes the form of funding filters or disinfection systems and shipping devices to NGOs in developing countries. In addition, a goal of Global Water is to become a clearinghouse for technical information and innovative solutions for water treatment equipment that is sustainable in remote regions of developing countries. In concert with this goal, Global Water has created the Technology Push Program to distribute water treatment technologies applicable to developing countries.</p>
            </div>
            <div class="span6">
                <img src="../../Images/Project3.png" />
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <img src="../../Images/Project4.png" />
            </div>
            <div class="span6">
                <h5>Hand Washing Station – Healthy Schools Program</h5>
                <p>
                    Learning to wash hands after using latrines is practically useless if a school doesn’t have a hand-washing facility so students can practice. Likewise, students must practice brushing teeth at school, as well, because many students attending rural schools in developing countries do not wash their hands nor brush their teeth at home; therefore, it must be practiced at school.
                </p>
            </div>
        </div>

    </div>
    
    </body>
}