<div id="profile-nav-node" class="span3">
		<ul id="profile-nav" class="nav nav-tabs nav-stacked">
         @Html.MenuItemCheveron("Edit Profile", "ProfielCreate", "Events", "icon-chevron-right", null)
         @Html.MenuItemCheveron("Profile", "User Actions", "Events", "icon-chevron-right", null)
     </ul>
   @* <p>Need help? Download a Quick Reference Guide.</p>
    <a href="@Url.Content("~/Content/NavigatingALC.pdf")" target="_blank" class="btn btn-secondary">Download</a>*@
	</div>
